{
  "extends": [
    "canonical/ava"
  ],
  "rules": {
    "@babel/no-unused-expressions": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-expressions": 0,
    "ava/use-test": 0
  }
}
