{
  "extends": [
    "canonical/ava"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-unused-expressions": 0,
    "ava/no-identical-title": 0,
    "ava/no-unknown-modifiers": 0,
    "ava/test-title": 0,
    "ava/use-t": 0,
    "ava/use-test": 0,
    "filenames/match-regex": 0,
    "flowtype/no-flow-fix-me-comments": 0,
    "id-length": 0,
    "max-nested-callbacks": 0,
    "require-await": 0
  }
}
