{
  "env": {
    "development": {
      "plugins": [
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "transform-object-rest-spread"
      ]
    },
    "test": {
      "plugins": [
        "transform-object-rest-spread",
        "istanbul"
      ]
    }
  },
  "plugins": [
    "transform-flow-strip-types"
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": 7.7
        },
        "useBuiltIns": true
      }
    ]
  ]
}
