{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  },
  "plugins": [
    "transform-export-default-name",
    "macros",
    "@babel/plugin-transform-typescript"
  ],
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "10"
        },
        "useBuiltIns": false
      }
    ]
  ]
}
