jobs:
  lint:
    runs-on: ubuntu-latest
    environment: release
    name: Lint
    steps:
      - name: setup repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "npm"
      - run: npm ci
      - run: npm run lint
    timeout-minutes: 10
  test:
    env:
      TEST_ONLY_NON_INTEGRATION: 'true'
    runs-on: ubuntu-latest
    environment: release
    name: Test
    steps:
      - name: setup repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "npm"
      - run: npm ci
      - run: npm run test
    timeout-minutes: 10
  test-pg-integration:
    env:
      TEST_ONLY_PG_INTEGRATION: 'true'
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    runs-on: ubuntu-latest
    environment: release
    name: Test "pg" integration
    steps:
      - name: setup repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "npm"
      - run: npm ci
      - run: npm run test
        env:
          POSTGRES_DSN: postgres:postgres@postgres:5432
    timeout-minutes: 10
  test-postgres-integration:
    env:
      TEST_ONLY_POSTGRES_INTEGRATION: 'true'
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    runs-on: ubuntu-latest
    environment: release
    name: Test "postgres" integration
    steps:
      - name: setup repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "npm"
      - run: npm ci
      - run: npm run test
        env:
          POSTGRES_DSN: postgres:postgres@postgres:5432
    timeout-minutes: 10
  release:
    needs:
      - lint
      - test
      - test-pg-integration
      - test-postgres-integration
    runs-on: ubuntu-latest
    environment: release
    name: Release
    steps:
      - name: setup repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: setup node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
name: Lint, build and release
on:
  push:
    branches:
      - main
